/* css reset */
*{padding: 0;margin: 0px;}
ul,li{list-style: none;}
#wrap{
  width: 375px;
  margin: 0 auto;
  background: #FFFFFF;
}


h3{
  font-size:12px;
  color: #9A9A9A;
  padding-left: 16px;
  line-height: 20px;
}

#hotCity h3{padding-top: 20px;}

#hotCity ul{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0px 25px 0 5px;
  
}


#hotCity ul li{
  width: 70px;
  height: 30px;
  text-align: center;
  border: 1px solid #EBECEB;
  line-height: 30px;
  margin:5px 5px;
  border-radius: 4px;
  font-size:14px;
}

#groupByChar .grouByCity{
  margin-bottom: 10px;
}
#groupByChar h3{
  margin-top: 10px;
  color: #9A9A9A;
}

#groupByChar ul li{
    line-height: 18px;
    padding: 15px 0 10px 16px;
    font-size: 14px;
    border-bottom: 1px solid #dbdbdb;
}


